<div>
  <strong>
    <%= comment.author.first_name %> <%= comment.author.last_name %>:
  </strong>
  <%= comment.body %>
  <%= comment.status %>

  <%= link_to 'Delete comment', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure you want to delete the comment?' } %>

  <% if comment.status == 'unpublished' %>
    <%= link_to 'Publish this comment', post_comment_path(@post, comment, comment: { status: :published }), method: :patch %>
  <% end %>

</div>