<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class="table-responsive">
  <table class="posts-table table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th class="th-sm">Content</th>
      <th>Comments count</th>
      <th>Views count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td class="title"><%= post.title %></td>
        <td class="content"><%= post.content %></td>
        <td class="content"><%= post.comments.size %></td>
        <td class="view"><%= post.post_views %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete the post?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-secondary"  %>
