<p id="notice"><%= notice %></p>
<%= link_to 'Back', posts_path, class: "btn btn-secondary" %>

<div class="text-md-right">
  <p>
    <%= image_tag @post.author.avatar.variant(resize_to_limit: [100, 100]) if @post.author.avatar.present? %>
    <strong>Author:</strong>
    <%= @post.author.name_with_initial %>
  </p>
</div>

<div class="text-center mb-3">
  <h2>
    <%= @post.title %>
  </h2>
</div>

<%= image_tag(@post.image, width: "600", alt: "Post image", class: "img-fluid py-4") if @post.image.present? %>

<p>
  <%= @post.content %>
</p>
<p class="text-right fst-italic">Post created(updated) <%= distance_of_time_in_words(@post.updated_at, Time.now) %>
  ago</p>

<% if @post.author == current_author %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %>
<% else %>
  <div class="d-inline-block"
       tabindex="0"
       title="Only the author of the post can edit and delete">
    <%= link_to 'Edit', edit_post_path(@post),
                class: "btn btn-secondary disabled",
                id: "btn-disabled" %>
  </div>
<% end %>

<div class="comments my-5">
  <h5 class="py-5 text-center">Comments</h5>
  <div class="text-right pb-4">
    <%= form_with model: @post, local: true, html: { comment_status: 'post' }, method: :get do |form| %>
      <div class="btn-group-toggle my-2">
        <%= form.radio_button :comment_status, :published, class: "d-none", :onclick => "this.form.submit();" %>
        <%= form.label :comment_status, "Show published", :value => "published", class: "btn btn-primary" %>
        <%= form.radio_button :comment_status, :unpublished, class: "d-none", :onclick => "this.form.submit();" %>
        <%= form.label :comment_status, "Show unpublished", :value => "unpublished", class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>

  <div class="new-comment" id="new-comment">
    <%= nested_comments @post.comments.arrange %>
  </div>

</div>
<h5 class="mt-5"> Add a new comment:</h5>
<% if current_author %>
  <div id="comment-reply-root">
    <%= render 'comments/form', comment_id: nil %>
  </div>
<% else %>
  <p class="py-4">Only registered users can leave comments</p>
<% end %>


