<p id="notice"><%= notice %></p>

<div class="text-right">
  <p>
    <strong>Author:</strong>
    <%= @post.name %>
  </p>
</div>

<div class="text-center">
  <h2>
    <%= @post.title %>
  </h2>
</div>

<%= image_tag(@post.image, width: "600", class: "img-fluid py-5") if @post.image.present? %>

<p>
  <%= @post.content %>
</p>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary"  %>
<%= link_to 'Back', posts_path, class: "btn btn-secondary"  %>
