<p id="notice"><%= notice %></p>

<div class="text-right">
  <p>
    <strong>Author:</strong>
    <%= @post.name %>
  </p>
</div>

<div class="text-center mb-5">
  <h2>
    <%= @post.title %>
  </h2>
</div>

<%= image_tag(@post.image, width: "600", alt: "Post image", class: "img-fluid py-5") if @post.image.present? %>

<p>
  <%= @post.content %>
</p>
<p class="text-right fst-italic">Post created (or updated) <%= distance_of_time_in_words(@post.updated_at, Time.now) %>
  ago</p>


<div class="comments my-5">
  <h5 class="py-5 border-bottom border-dark text-center">Comments</h5>
  <%= render @comments %>
</div>

<div class="text-right">
  <%= form_with model: @post, local: true, html: { comment_status: 'post' }, method: :get do |form| %>
    <strong>Display comments:</strong>
    <div class="btn-group-toggle my-2">
      <%= form.radio_button :comment_status, :published, class: "d-none", :onclick => "this.form.submit();" %>
      <%= form.label :comment_status, "Show published", :value => "published", class: "btn btn-primary" %>
      <%= form.radio_button :comment_status, :unpublished, class: "d-none", :onclick => "this.form.submit();" %>
      <%= form.label :comment_status, "Show unpublished", :value => "unpublished", class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>

<h5> Add a comment:</h5>
<% if current_author %>
  <%= render 'comments/form' %>
<% else %>
  <p class="py-4">Only registered users can leave comments</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post), class: "btn btn-secondary" %>
<%= link_to 'Back', posts_path, class: "btn btn-secondary" %>
